.adminContent{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.admin-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.lowerPart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    height: 100%;
    width: 100%;
}

.welcome{
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 30px;
    padding-left: 40px;
    padding-top: 30px;
}

.requests{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
  
    /*THIS MAY NOT WORK BUT I HOPE IT DOES*/
    height: 70vh;
    width: 28vw;
    align-content: center;   
    align-items: center;
    overflow-y: scroll;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 10px;
    padding: 10px;
}