.adminPage{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.welcome{
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 30px;
    padding-left: 40px;
    padding-top: 30px;
}

.requests{
    display: flex;
    flex-direction: column;
    background-color: gray;
    height: 75vh;
    

}