.home-container{
    background-image: url('../../public/images/stack.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-searchBar {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
    width: 70vw;
    margin-top: 40px;
}

.request-button{
  z-index: 1;
  margin-bottom: 15px;
}

body, html {
    margin: 0;
  }

  .home-call{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin-bottom: 0px;
  }

  .support {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    text-align: center;
    background-color: white;
    width: 400px;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  }

  @media only screen and (max-width: 767px){
    .support{
        width: 90vw;
        margin-bottom: 5vw;
    }
}